<div class="eqLogic-widget eqLogic tooltips" style="width: 160px;background-color: #background_color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
  <center><a href="#eqLink#" style="font-size : 1.5em;"> #name# </a></center>
  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
  <center title="#latency_collect#" class="tooltips">
    <span class="cmd noRefresh #ping_history#" data-cmd_id="#ping_id#">Status : <span class="ping" ></span></span><br/>
    <span class="cmd noRefresh #latency_history#" data-cmd_id="#latency_id#" >Latence : <span class="label label-success latency" >#latency#</span> ms</span>
  </center>
  <script>
    $('.eqLogic[data-eqLogic_id=#id#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });
    if('#ping#' == 1){
      $('.eqLogic[data-eqLogic_uid=#uid#] .ping').append('<i class="fa fa-check"></i>');
      $('.eqLogic[data-eqLogic_uid=#uid#]').css('background-color','#2ecc71');
    }else{
      $('.eqLogic[data-eqLogic_uid=#uid#] .ping').append('<i class="fa fa-times"></i>');
      $('.eqLogic[data-eqLogic_uid=#uid#]').css('background-color','#e74c3c');
    }
    if(parseFloat('#latency#') > 500){
     $('.eqLogic[data-eqLogic_uid=#uid#] .latency').removeClass('label-success').addClass('label-danger');
   }else if(parseFloat('#latency#') > 100){
     $('.eqLogic[data-eqLogic_uid=#uid#] .latency').removeClass('label-success').addClass('label-warning');
   }else if (parseFloat('#latency#') < 0 ){
    $('.eqLogic[data-eqLogic_uid=#uid#] .latency').removeClass('label-success').addClass('label-danger');
  }
  initTooltips();
</script>
</div>
